{% extends 'base.html' %}
{% block content %}
<h2>GeoLocation API (File Upload)</h2>
<p>
  This application is for getting the co-ordinates of a location by uploading a excel file with any particular address. 
  The co-ordinates are fetched using MapQuest's REST API.
</p>
<p>
  Rules to follow:
  <br /><br />
  1. Please upload a excel file with <strong>.csv extension</strong> only.
  <br />
  2. Please add column header as <i>address</i> only. (**Case-sensitive)
  <br />
  3. Please add any number of addresses of your choice in the first column only.
  <br />
  4. All other columns should be blank for this web application to work.
  <br />
  5. Click Upload the file, a output file will be generated in 10-120 seconds depending on the file size.
</p>
<br />
<form action='{% url "upload_excel" %}' method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file"
          title="Upload excel file"
          name="excel_file"
          style="border: 1px solid black; padding: 5px;"
          required="required">
  <input type="submit"
          value="Upload"
          style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
</form>
{% endblock %}